body {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
}

div {
    background: coral;
    margin: 1.5em;
    padding: 1.2em;
    border-radius: 10px;
}

input {
    margin: 1.2em 0;
    width: 100%;
    font-size: 2em;
    text-align: center;
}

button {
    border-radius: 10px;
    background: lightseagreen;
    width: 40%;
    font-size: 1.1em;
}


p {
    font-size: 30px;
    margin: 0;
}

#result {
    font-weight: bold;
    color: black;
    font-size: 36px;
}